<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgmR7rIvTl29KEMQqCTmu4mfN8-tFhbT0</string>
	<key>GCM_SENDER_ID</key>
	<string>393406281629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseGallery</string>
	<key>PROJECT_ID</key>
	<string>fir-gallery-8e3ac</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-gallery-8e3ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393406281629:ios:f75df2f05194f974506174</string>
</dict>
</plist>